<template>
  <Value />
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Value from "@/components/Value.vue"; // @ is an alias to /src

@Component({
  components: {
    Value
  }
})
export default class Home extends Vue {}
</script>
