<template>
  <div class="container">
    <h1>Dating App</h1>
    <p v-for="value in values" v-text="value.name" :key="value.id"></p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Value extends Vue {
  values = [];

  async mounted() {
    const data = await (await fetch("http://localhost:5000/api/values")).json();

    this.values = data;
  }
}
</script>

<style>
.container {
  text-align: center;
}
</style>
